# =========================
# Environment
# =========================
.env

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Machine Learning
# =========================
models/
data/
*.pkl
*.h5

# =========================
# Logs
# =========================
*.log

# =========================
# Frontend (Next.js / React)
# =========================
node_modules/
.next/
dist/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
